<h4 *ngIf="error">
  Internal Server Error - refreshing page will disappear error message!
</h4>
<h4 *ngIf="!error">500 - Internal Server Error</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{ error.message }}</h5>
  <p class="font-weight-bold">Do not blame angular, if you are seeing this</p>
  <p>What to do next?</p>
  <ol>
    <li>Open browser dev tools</li>
    <li>Inspect the network tab</li>
    <li>Check the failing request</li>
    <li>Examine the request URL - make sure it is correct</li>
    <li>Reproduce error in postman</li>
  </ol>
  <p>This is stack trace - where you should begin investigation!</p>
  <code class="mt-5" style="background-color: whitesmoke">
    {{ error.details }}
  </code>
</ng-container>
